---
version: "3.7"
services:
  jamulus:
    container_name: {{ jamulus_username }}
    image: {{ jamulus_container_name }}
    init: true
    restart: always
    read_only: false
    ports:
      - "{{ jamulus_container_port }}:22124/udp"
    volumes:
      - jamulus_logs:{{ jamulus_log_folder }}
      # - {{ jamulus_log_folder }}:{{ jamulus_log_folder }}
      - jamulus_recs:{{ jamulus_recording_folder }}
      # - {{ jamulus_recording_folder }}:{{ jamulus_recording_folder }}
      - jamulus_tmp:/tmp
    environment:
      TZ: "{{ jamulus_timezone }}"
    entrypoint:
      - "Jamulus"
      - "--server"
      - "--multithreading"
      - "--nogui"
      - "--port"
      - "22124"
{% if jamulus_recording %}
      # - "--norecord"
      - "--recording"
      - "{{ jamulus_recording_folder }}"
{% else %}
      - "--norecord"
      # - "--recording"
      # - "{{ jamulus_recording_folder }}"
{% endif %}
      - "--log"
      - "{{ jamulus_log_folder }}/jamulus-docker.log"
      - "--welcomemessage"
      - "{{ jamulus_welcomemessage }}"
      - "--centralserver"
      - "{{ jamulus_centralserver }}"
      - "--serverinfo"
      - "{{ jamulus_serverinfo }}"
      - "--numchannels"
      - "{{ jamulus_numchannels }}"

volumes:
  jamulus_recs:
    name: jamulus_recs
  jamulus_logs:
    name: jamulus_logs
  jamulus_tmp:
    name: jamulus_tmp
    driver_opts:
      type: tmpfs
      device: tmpfs