---
version: "3.7"
services:
  jamulus:
    container_name: jamulus
    image: guidowojke/jamulus:{{ jamulus_container_version }}
    restart: always
    ports:
      - "{{ jamulus_port }}:22124/udp"
    environment:
      TZ: "{{ jamulus_timezone }}"
    entrypoint:
      - "Jamulus"
      - "--server"
      - "--nogui"
      - "--welcomemessage"
      - "{{ jamulus_welcomemessage }}"
      - "--numchannels"
      - "16"
